.stepperWrapper {
  margin-bottom: 60px;
  .stepList {
    display: flex;
    justify-content: center;
    li {
      width: 150px;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      span {
        width: 35px;
        height: 35px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        border-radius: 100%;
        border: 1px solid #838383;
        background-color: transparent;
        color: #838383;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }
      span:after {
        content: '';
        position: absolute;
        background: #838383;
        height: 2px;
        width: 80px;
        margin-left: 145px;

        @media screen and (max-width: 767px) {
          width: 30px;
          margin-left: 100px;
        }
      }
      h6 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #838383;
        padding: 0 1.5rem;
        margin-top: 10px;

        @media screen and (max-width: 767px) {
          display: none;
        }
      }
      &.active,
      &.completed {
        span {
          color: #fff;
          background-color: #c4214a;
          border-color: #c4214a;
        }
        span:after {
          background-color: #c4214a;
        }
        h6 {
          color: #c4214a;
        }
      }
      &:last-child {
        span:after {
          width: 0;
        }
      }
    }
  }
}
