//colors
:root {
  //primary-colors
  --color-primary-yellow: #FFA425;
  --color-primary-black: #171717;
  --color-primary-white: #FFF;
  //secondary-colors
  --color-secondary-accent: #C4214A;
  --color-secondary-dark-gray: #838383;
  --color-secondary-light-gray: #DBDBDB;
  --color-secondary-extra-light-gray: #F9F9F9;

  --color-validation-error: #DA0000;
}


//variables
$indent-font-size: 16px;

$MAX_LIMIT_WIDTH: "1366px";
$MAX_WIDTH_EXTRA_SMALL: "575.98px";
$MAX_WIDTH_SMALL: "767.98px";
$MAX_WIDTH_MEDIUM: "991.98px";
$MAX_WIDTH_LARGE: "1199.98px";
$MAX_WIDTH_X_LARGE: "1366.98px";

$MIN_WIDTH_EXTRA_SMALL: "576px";
$MIN_WIDTH_SMALL: "768px";
$MIN_WIDTH_MEDIUM: "992px";
$MIN_WIDTH_LARGE: "1200px";
$MIN_WIDTH_X_LARGE: "1367px";

