.header {
  flex-shrink: 0;
  background-color: var(--color-primary-white);
  filter: drop-shadow(0px 2px 16px rgba(0, 0, 0, 0.12));

  .searchForm {
    padding: 20px;
    background-color: var(--color-secondary-accent);
  }

  .headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 24px 0;

    .rightPart {
      display: flex;
      align-items: center;

      .headerMenu {
        ul {
          display: flex;
          font-weight: 600;

          li {
            padding-right: 45px;

            a.active {
              font-weight: 700;
              color: var(--color-primary-yellow);
              border-bottom: 2px solid var(--color-primary-yellow);
              padding-bottom: 4px;
            }
          }
        }
      }

      .signInButton {
        color: var(--color-secondary-accent);
        display: flex;
        align-items: center;
        font-weight: 700;

        &:before {
          content: url("../../../assets/images/icons/log-in.svg");
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }
      }
    }
  }
}