@import 'src/styles/utilities/mixins';

.header {
  flex-shrink: 0;
  background-color: var(--color-primary-white);
  filter: drop-shadow(0px 2px 16px rgba(0, 0, 0, 0.12));
  position: relative;
  z-index: 999;

  .searchForm {
    padding: 20px;
    background-color: var(--color-secondary-accent);
  }

  .headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 24px 0;

    @include tablet-min() {
      padding: 18px 0;
      font-size: 18px;
      font-weight: 700;
    }

    .rightPart {
      display: flex;
      align-items: center;

      .mobileBurger {
        display: none;
        width: 28px;
        height: 28px;
        background: url('../../../assets/images/icons/burger.svg') center center;
        background-size: 28px 28px;

        @include tablet-min() {
          display: block;
        }
      }

      .mobileBurgerClose {
        display: none;
        width: 28px;
        height: 28px;
        background: url('../../../assets/images/icons/burger-close.svg') center center;
        background-size: 28px 28px;

        @include tablet-min() {
          display: block;
        }
      }

      .headerMenu {
        display: flex;
        align-items: center;
        z-index: 999;

        @include tablet-min() {
          display: none;
          position: absolute;
          top: 66px;
          left: 0;
          width: 100%;
          background-color: var(--color-primary-white);
          box-shadow: inset 4px 7px 15px 0 rgb(0 0 0 / 12%);
          -webkit-box-shadow: inset 4px 7px 15px 0 rgb(0 0 0 / 12%);

          &.opened {
            display: block;
          }
        }

        ul {
          display: flex;
          font-weight: 600;

          @include tablet-min() {
            flex-direction: column;
            text-align: center;
            padding: 25px 20px 0;
            font-size: 18px;
            font-weight: 700;
          }

          li {
            padding-right: 45px;

            @include tablet-min() {
              padding-right: 0;
              padding-bottom: 25px;
              width: 100%;

              &:last-child {
                border-bottom: 1px solid var(--color-secondary-light-gray);
              }
            }

            a.active {
              font-weight: 700;
              color: var(--color-primary-yellow);
              border-bottom: 2px solid var(--color-primary-yellow);
              padding-bottom: 4px;
            }
          }
        }

        .signInButtonsWrapper {
          color: var(--color-secondary-accent);
          font-weight: 700;
          display: flex;
          align-items: center;
          justify-content: center;

          @include tablet-min() {
            padding: 20px 0;
          }

          .signInButton {
            display: flex;
            align-items: center;

            &:before {
              content: url('../../../assets/images/icons/log-in.svg');
              width: 24px;
              height: 24px;
              margin-right: 10px;
            }

            @include tablet-min() {
              &:before {
                content: unset;
              }
            }
          }

          .signUpButton {
            display: none;

            @include tablet-min() {
              display: block;
            }
          }
        }
      }
    }
  }
}
