.form {
  .form-group {
    width: 100%;
    position: relative;

    .label {
      display: block;
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 8px;
      font-weight: 600;
      color: var(--color-primary-black);
    }

    textarea {
      resize: none;
    }

    .validation-error {
      display: none;
      margin-top: -17px;
      font-size: 13px;
      font-weight: 400;
      color: var(--color-validation-error);
      font-feature-settings: 'pnum' on, 'lnum' on;

      & ~ .validation-error {
        margin: 0;
      }
    }

    .input {
      width: 100%;
      border: 1px solid;
      border-color: var(--color-secondary-light-gray);
      box-sizing: border-box;
      border-radius: 8px;
      background: var(--color-secondary-extra-light-gray);
      padding: 14px 16px;
      font-size: 14px;
      font-weight: 400;
      color: var(--color-primary-black);
      line-height: 22px;
      margin-bottom: 22px;
      position: relative;
      display: block;

      &::placeholder {
        font-size: 14px;
        color: var(--color-secondary-dark-gray);
      }

      &.field-invalid {
        border-color: var(--color-validation-error);

        & ~ .validation-error {
          display: block;
        }
      }

      & ~ .eye-icon {
        position: absolute;
        right: 16px;
        top: 69%;
        transform: translateY(-50%);
        cursor: pointer;

        &:before {
          content: url('../../assets/images/icons/eye-invisible.svg');
          width: 20px;
          height: 20px;
        }

        &.show {
          &:before {
            content: url('../../assets/images/icons/eye-visible.svg');
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }

  &.vertical {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 670px;

    .form-group {
      display: flex;
      margin-bottom: 20px;
      align-items: center;

      .label {
        margin: 0;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        flex: 0 0 35%;
      }

      .input {
        margin-bottom: 0;
      }

      .radio-buttons-group {
        flex-direction: row;
        width: 100%;

        &__label {
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          flex: 0 0 35%;
        }

        .radio-button {
          flex: 1 1 50%;
        }
      }

      &.number {
        .label {
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
        }

        .input {
          max-width: 110px;
        }
      }
    }

    &.form-group-vertical {
      .form-group {
        flex-direction: column;
        align-items: flex-start;

        .label {
          margin-bottom: 15px;
        }
      }

      .radio-buttons-group {
        .radio-button {
          padding-bottom: 20px;

          label {
            font-size: 16px;
          }
        }
      }
    }
  }

  &.horizontal {
    display: flex;

    .form-group {
      &:not(:last-child):before {
        content: '';
        position: absolute;
        top: 25%;
        right: 0;
        height: 50%;
        border-right: 1px solid var(--color-secondary-light-gray);
        transform: rotate(180deg);
        z-index: 99;
      }

      .input {
        border-radius: 0;
        border: none;
        margin: 0;
      }

      &:first-child {
        .input {
          border-radius: 8px 0 0 8px;
        }
      }
    }

    button {
      border-radius: 0 8px 8px 0;
      line-height: 18px;
    }
  }
}
