.contacts {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 15px;
  vertical-align: center;

  .phone {
    margin-right: 46px;
  }

  .phone, .mail {
    position: relative;
  }

  .phone:before {
    position: absolute;
    left: -24px;
    content: url("../../../assets/images/icons/phone16x16.svg");
  }

  .mail:before {
    position: absolute;
    left: -24px;
    content: url("../../../assets/images/icons/email16x16.svg");
  }
}

.subtext {
  margin-bottom: 30px;
}

.textarea {
  height: 150px;
  resize: none;
}