@import 'styles/main';

html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
}

html,
body {
  font-family: 'Inter', sans-serif;
  font-size: $indent-font-size;
  line-height: 19px;
  color: var(--color-primary-black);

  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;

  font-smoothing: antialiased;

  @include tablet-min() {
    font-size: 14px;
  }
}
button[disabled] {
  background-color: rgba(131, 131, 131, 0.8);
}

.section {
  max-width: 1140px;
  margin: 0 auto;

  @include small-desktop-min() {
    padding: 0 20px;
  }

  &__block {
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:first-child {
      padding-top: 120px;

      &.no-top-padding {
        padding-top: 0;
      }

      &.no-bottom-padding {
        padding-bottom: 0;
      }
    }

    @include tablet-min() {
      padding-top: 80px;

      &:first-child {
        padding-top: 80px;
      }
    }
  }

  &__block--blog {
    position: relative;
  }

  &__block--blog {
    position: relative;
  }
}

.flexWrapper {
  display: flex;
  flex-wrap: wrap;

  &--center {
    justify-content: center;
  }
}

.logo {
  width: 128px;
  height: 38px;

  @include tablet-min() {
    width: 100px;
    height: 30px;
  }

  &.footer {
    width: 150px;
    height: 45px;
  }
}

.filters {
  padding-bottom: 30px;
  align-self: flex-start;

  @include tablet-min() {
    width: 100%;
  }
}
