@import 'styles/main';

html {
  height: 100%;
  overflow: auto;
}
body {
  height: 100%;
}

html,
body {
  font-family: 'Inter', sans-serif;
  font-size: $indent-font-size;
  line-height: 19px;
  color: var(--color-primary-black);

  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;

  font-smoothing: antialiased;
}

.section {
  max-width: 1140px;
  margin: 0 auto;

  @include small-desktop-min() {
    padding: 0 20px;
  }

  &__block {
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:first-child {
      padding-top: 120px;

      &.no-top-padding {
        padding-top: 0;
      }

      &.no-bottom-padding {
        padding-bottom: 0;
      }
    }
  }
}

.flexWrapper {
  display: flex;
  flex-wrap: wrap;

  &--center {
    justify-content: center;
  }
}
